VITE_FIREBASE_API_KEY=AIzaSyCfoQTPAdeChs5xe8uCDwBUasf-DViGj4o
VITE_FIREBASE_AUTH_DOMAIN=tramitacion-webdom.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tramitacion-webdom
VITE_FIREBASE_STORAGE_BUCKET=tramitacion-webdom.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=784097657161
VITE_FIREBASE_APP_ID=1:784097657161:web:a5cb0bb6d21c5bb8be5a98
VITE_FIREBASE_MEASUREMENT_ID=G-W82F8HBKEE

# Cloud Function URL (después de `firebase deploy --only functions`)
VITE_SYNC_PLACE_URL=https://europe-west1-tramitacion-webdom.cloudfunctions.net/syncPlace
